[core]
  excludesfile = /Users/tfd/.gitignore

[alias] 
  st = status
  com = commit
  co = checkout
  br = branch -avv
  w = whatchanged
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  re = remote -vv

[color] 
  diff = auto
  interactive = auto
  status = auto
  branch = auto
  ui = true
  pager = true

[push]
  default = simple

[merge]
        tool = opendiff

# Strip output and metadata from jupyter notebooks before staging
# http://timstaley.co.uk/posts/making-git-and-jupyter-notebooks-play-nice/
[filter "nbstrip_full"]
clean = "jq --indent 1 \
        '(.cells[] | select(has(\"outputs\")) | .outputs) = []  \
        | (.cells[] | select(has(\"execution_count\")) | .execution_count) = null  \
        | .metadata = {\"language_info\": {\"name\": \"python\", \"pygments_lexer\": \"ipython3\"}} \
        | .cells[].metadata = {} \
        '"
smudge = cat
required = true
